Que 1)

* = Expression

'hello' = value

-87.8 = value

- = expression

/ = expression

+ = expression

6 = value

Que 2)
    
    Variable : variable is kind of entity where you will be able to store a data which you can process in run time.
    Strings: strings are data , so we can use them to fill up a variable.

Que 3)

    Three data types:
    
    1) string: string is combination of characters. It can be represented by single quotes or double quotes. to represent      multiline statement use triple quotes.
    
    2)List: list is an ordered sequence of items.It is enclosed within square brackets[]. items in a list can be of different data type. list are mutable.
    
    3)Tuple: tuple is another type of element which able to hold varity of data set or hetrogeneous data set inside single element. the only difference is that tuples are immutable . tuple once created cannot be modified.

Que 4)

     An expression is combination of operators and operands. expression are parts of statement. An expressions are constructed according to the syntax of the language, that evaluates to a single value.

Que 5)
     
     An assignment is a statement in computer programming that is used to set a value to a variable name.An expression is something that can be value. here 10 is expression, and it is assign to variable name spam so it is statement now.
     instruction that a python interpreter can execute are called statement.

Que 6)

In [1]:
bacon = 22
bacon+1

23

Que 7)

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

Que 8)

     variable is kind of a entity where you will be able to stored data. variables names starts with a letter, it cannot begin with number.

Que 9)

      the int() function is used to get integer
      float() function is used to get floating point number and
      str() function is used to get string version of a value.

Que 10) we can perform this operation with string to string only . not with string to integer.

In [6]:
'I have eaten '+ '99'+ ' burritos'

'I have eaten 99 burritos'