QUE 1)

In [1]:
n = int(input("Enter the number "))
a = 1
if n < 0:
  print("factorial does not exist")
elif n == 0:
  print(f"Factorial of {n} is 1")
else:
  for i in range (1,n+1):
      a = a * i
  print(f"Factorial of {n} is {a}")

Enter the number 5
Factorial of 5 is 120

QUE 2

In [3]:
a= int(input('Multiplication table of'))
print("\t")
for i in range (1,11):
    b=a*i
    print(f"{a}X{i}={b}")

Multiplication table of8

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

QUE 3)

In [6]:
n = int(input("How many terms you want "))
# fibonacci series 0 1 1 2 3 5 8 13
f= 0
s = 1
if n == 1:
  print(f)
elif n ==2:
  print(f,s)
else:
  print(f,s,end=" ")
  for i in range(2,n):
    c = f + s 
    print(c,end=" ")
    f = s
    s = c

How many terms you want 8
0 1 1 2 3 5 8 13

QUE 4)

In [8]:
n = int(input("Enter a number: "))
t = n
sum = 0
a = len(str(n))

while t > 0:
   digit = t % 10
   sum = sum +(digit ** a)
   t = t // 10

if n == sum:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

Enter a number: 1234
1234 is not an Armstrong number

QUE 5)

In [9]:
low = int(input("Enter the lower range "))
hi = int(input("Enter the upper range "))
arm = list()
for n in range(low,hi+1):
  t = n
  sum = 0
  a = len(str(n))
  while t > 0:
    digit = t % 10
    sum = sum +(digit ** a)
    t = t // 10
  if n == sum:
   arm.append(n)
print("Following numbers are armstrong number in interval",low,"and",hi,)
print(arm)

Enter the lower range 100
Enter the upper range 5000
Following numbers are armstrong number in interval 100 and 5000
[153, 370, 371, 407, 1634]

QUE 6)

In [10]:
num = int(input("Sum of Numbers upto which number "))
a = ((num*(num+1))*0.5)
print(f"Sum of first {num} natural number is {a}")

Sum of Numbers upto which number 4
Sum of first 4 natural number is 10.0